{% extends 'myadmin/base.html' %}
{% block content%}
    <div class="widget am-cf">
        <div class="widget-head am-cf">
            <div class="widget-title am-fl"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">添加管理员</font></font></div>
            <div class="widget-function am-fr">
                <a href="javascript:;" class="am-icon-cog"></a>
            </div>
        </div>
        <div class="widget-body am-fr">

            <form id="myform" class="am-form tpl-form-line-form" action="{% url 'myadmin_authuser_insert'%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="am-form-group">
                    <label  class="am-u-sm-3 am-form-label"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">用户名</font></font></label>
                    <div class="am-u-sm-9">
                        <input type="text" class="tpl-form-input" name="username">

                    </div>
                </div>

                <div class="am-form-group">
                    <label  class="am-u-sm-3 am-form-label"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">密码</font></font></label>
                    <div class="am-u-sm-9">
                        <input type="password" class="tpl-form-input" name="password">

                    </div>
                </div>

                <div class="am-form-group">
                    <label  class="am-u-sm-3 am-form-label"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">邮箱</font></font></label>
                    <div class="am-u-sm-9">
                        <input type="text" class="tpl-form-input" name="email">
                    </div>
                </div>

                    <div class="am-form-group">
                    <label  class="am-u-sm-3 am-form-label"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">管理员类型</font></font></label>
                    <div class="am-u-sm-9">
                        <select data-am-selected="{searchBox: 1}" style="display: none;" name="is_superuser">
                            <option value="False">普通管理员</option>
                            <option value="True">超级管理员</option>
                        </select>
                    </div>
                </div>

                <div class="am-form-group">
                            <label  class="am-u-sm-3 am-form-label">
                                分配组
                            </label>
                            <div class="am-u-sm-9">
                               <div style="float: left;text-align: center;">
                                   <p>可用组</p>
                                   <select id="select1" multiple="multiple" style="width:300px;height:200px; float:left; border:1px solid rgba(255, 255, 255, 0.2); padding:4px; ">
                                      {% for v in grouplist %}
                                        <option value="{{ v.id }}">{{ v.name }}</option>
                                      {% endfor %}
                                   </select>
                                   <p><button id="add_all" class="am-btn am-btn-warning am-btn-xs" type="button">全选&nbsp;&gt;</button></p>
                               </div>

                               <div style="float: left;width: 50px;height:200px;">
                                   <ul style="margin-top: 100px;text-align: center;">
                                       <li><button id="add" class="am-btn am-btn-warning am-btn-xs" type="button">&gt;</button></li>
                                       <br>
                                       <li><button id="remove" class="am-btn am-btn-warning am-btn-xs" type="button">&lt;</button></li>
                                   </ul>
                               </div>

                               <div style="float: left;text-align: center;">
                                   <p>已选中的组</p>
                                   <select name="gs" id="select2" multiple="multiple" style="width:300px;height:200px; float:left; border:1px solid rgba(255, 255, 255, 0.2); padding:4px; ">

                                   </select>
                                   <p><button id="remove_all" class="am-btn am-btn-warning am-btn-xs" type="button">全部移除</button></p>
                               </div>
                            </div>
                        </div>

                        <script type="text/javascript">
                            $('#add').click(function(){
                                $('#select1 option:selected').appendTo('#select2');
                            })
                            $('#remove').click(function(){
                                $('#select2 option:selected').appendTo('#select1');
                            })
                            $('#add_all').click(function(){
                                $('#select1 option').appendTo('#select2');
                            })
                            $('#remove_all').click(function(){
                                $('#select2 option').appendTo('#select1');
                            })
                            $('#select1').dblclick(function(){
                                $('option:selected',this).appendTo('#select2');
                            })
                            $('#select2').dblclick(function(){
                                $('option:selected',this).appendTo('#select1');
                            })

                            $('#myform').submit(function(){

                                 // $('#select2 option').attr('selected',true) //X
                                 $('#select2 option').prop('selected',true)

                                // return false;
                            })

                        </script>

                <div class="am-form-group">
                    <div class="am-u-sm-9 am-u-sm-push-3">
                        <button  class="am-btn am-btn-primary tpl-btn-bg-color-success "><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">提交</font></font>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}