{% extends 'myadmin/base.html' %}
{% block content%}
<!-- 内容区域 -->
<style>
    #a2 {
        color:black;
    }
</style>
 <div class="container-fluid am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                <div class="page-header-heading">
                    <span class="am-icon-users page-header-heading-icon"></span>
                     订单管理
                 </div>

                <div id="alert" class="am-alert am-alert-success" data-am-alert style="white-space: nowrap; position: absolute;top:-50px;left: 250px;display: none;">
                  <button type="button" class="am-close">&times;</button>
                  <p></p>
                </div>
            </div>
        </div>

    </div>



<div class="row">
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title  am-cf">订单列表</div>
            </div>
            <div class="widget-body  am-fr">

                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                    <div class="am-form-group">
                        <div class="am-btn-toolbar">

                        </div>
                    </div>
                </div>
<form action="{% url 'myadmin_orderssearch' %}" method="post">
    {% csrf_token %}
<div class="am-u-sm-12 am-u-md-12 am-u-lg-6">
    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">

        <input type="text" class="shuru am-form-field " name="search" placeholder="搜索订单收货人电话" >
        <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search">搜索</button>
        </span>

    </div>
</div>
 </form>
    <div class="am-u-sm-12">
        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
            <thead>
            <tr>
                <th>订单号</th>
                <th>收货人</th>
                <th>收货人电话</th>
                <th>总价</th>
                <th>订单状态</th>
                <th>下单时间</th>
            </tr>
            </thead>
            <tbody>
            {% for i in data %}
            <tr class="even gradeC">
                <td>{{ i.id }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.phone }}</td>
                <td>{{ i.totalprice }}</td>
                <td>
                    {% if i.status == 0 %}
                    未支付
                    {% elif i.status == 1 %}
                    已支付
                    {% elif i.status == 2 %}
                    未发货
                    {% elif i.status == 3 %}
                    已发货
                    {% elif i.status == 4 %}
                    已取消
                    {% endif %}

                </td>
                <td>{{ i.ordertime }}</td>
            </tr>
            {% endfor %}


                    <!-- more data -->
            </tbody>
                </table>
    </div>

        </div>
    </div>
</div>
</div>


{% endblock %}